{erl_opts, [debug_info]}.
{deps, [
    {hera_synchronization, {git, "https://github.com/sebkm/hera_synchronization", {branch, "master"}}},
    {numerl, {git, "https://github.com/tanguyl/numerl.git", {ref, "4d7cf8a5e98eca70710e5032f330e55c006cc6f1"}}}
]}.

{shell, [{apps, [hera, hera_synchronization]}]}.

{relx, [
    {release, {hera, "1.0.0"}, [hera]}
]}.

{plugins, [
    {rebar3_grisp, "2.10.2"}
]}.
{grisp, [
    {otp, [
        {version, "25"}
    ]},
    {build, [
        {toolchain, [
            {docker, "grisp/grisp2-rtems-toolchain:1.0.0"}
        ]}
    ]},
    {deploy, [
        {pre_script, "rm -rf /media/jl/GRISP/*"},
        {destination, "/media/jl/GRISP/"},
        {post_script, "umount /media/jl/GRISP/"}
    ]}
]}.
