{erl_opts, [debug_info]}.
{deps, [
    grisp,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    {hera_synchronization, {git, "https://github.com/sebkm/hera_synchronization", {branch, "master"}}}
]}.

{shell, [{apps, [hera, hera_synchronization]}]}.

%% Host-only: build the static GRiSP NIFs (erlef/blas, kfblas) as .so
%% files in priv/ so `rebar3 eunit` can test blasmat, blasws and kfblas.
%% On GRiSP they are linked statically into ERTS from
%% grisp/grisp2/common/build/nifs/ instead.
{profiles, [
    {test, [{pre_hooks, [{compile, "make -C c_src"}]}]}
]}.

{relx, [
    {release, {hera, "1.0.0"}, [{epmd, none}, hera]}
]}.

{plugins, [
        {rebar3_grisp, "2.14.1"}
]}.
{grisp, [
    {otp, [
        {version, "29"}
    ]},
    {build, [
        {toolchain, [
            {docker, "grisp/grisp2-rtems-toolchain:1.1.0"}
        ]}
    ]},
    {deploy, [
        {pre_script, "rm -rf /media/jl/GRISP/*"},
        {destination, "/media/jl/GRISP/"},
        {post_script, "umount /media/jl/GRISP/"}
    ]}
]}.
